<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="/public/css/styles.css">
    <title>Admin Songs & Artists</title>
</head>
<body>
    <!-- welcome text -->
    <h1 class="headerText">Welcome to the Admin page</h1>
    <!-- form -->
    <div class="form">
        <form action="/addArtist" method="POST">
            <h1 class="header">Artist Form</h1>
            
            <label for="name">Artist Name:</label>
            <input id="name" type="text" name="name" placeholder="New Artist" required><br>
            
            <label for="albums">Number of Albums:</label>
            <input id="albums" type="number" name="albums" placeholder="Number of Albums" required><br>
            
            <label for="best_song">Best Song:</label>
            <input type="text" name="best_song" id="best_song" placeholder="Best Song" required><br>
            
            <label for="release_year">Release Year:</label>
            <input type="number" name="release_year" id="release_year" placeholder="2000" required><br>

            <button class="formButton" type="submit">Submit</button> 
        </form>
        
    </div>
    <!-- table to display all artists -->
    <table class="content-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Albums</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <% artists.forEach(function(artist) { %>
            <tr class="active-row">
                <th><%= artist.name %></th>
                <th><%= artist.albums %></th>
                <th><button class="adminButton"><a href="/api/edit/<%= artist.id %>/edit"><ion-icon name="create-outline"></ion-icon></a></button></th>
                <th>
                    <form action="/edit/<%= artist.id %>/delete" method="POST" style="display:inline;">
                        <button class="adminButton" type="submit"><ion-icon name="trash-outline"></ion-icon></button>
                    </form>
                </th>
            </tr>
            <%});%>
        </tbody>
    </table>
    <!-- table to display all songs -->
    <table class="content-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Best Song</th>
                <th>Release Date</th>
            </tr>
        </thead>
        <tbody>
            <% songs.forEach(function(song) { %>
            <tr class="active-row">
                <th><%= song.name %></th>
                <th><%= song.most_popular_song %></th>
                <th><%= song.release_year %></th>
            </tr>
            <%});%>
        </tbody>
    </table>
    <!-- ionicons scrips -->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>