<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="/public/css/styles.css">
    <title>Edit</title>
</head>
<body>
    <!-- welcome text -->
    <h1 class="headerText">Edit Music</h1>
    <!-- form to edit -->
    <div class="formEdit">
        <form action="/artists/<%= artist.id %>" method="POST">
            <label for="name">Artist Name:</label>
            <input id="name" type="text" name="name" value="<%= artist.name %>" required><br>
            
            <label for="albums">Number of Albums:</label>
            <input id="albums" type="number" name="albums" value="<%= artist.albums %>" required><br>
            
            <label for="best_song">Best Song:</label>
            <input type="text" name="best_song" id="best_song" value="<%= song.most_popular_song %>" required><br>
            
            <label for="release_year">Release Year:</label>
            <input type="number" name="release_year" id="release_year" value="<%= song.release_year %>" required><br>
            
            <button class="formButton" type="submit">Submit</button> 
        </form>
        <!-- hyperlink back to index page -->
        <a class="exit" href="/api/admin"><ion-icon class="ion" name="exit-outline"></ion-icon></a>
    </div>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>