<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="/public/css/styles.css">
    <title>Edit</title>
</head>
<body>
    <!-- form to edit -->
    <div class="formEdit">
        <form id="form" action="/artists/<%= artist.id %>" method="POST" class="form">
            <h1>Edit Data</h1>
            
            <input type="text" placeholder="Artist Name" class="form__input" id="name" name="name" value="<%= artist.name %>" required />
            <label for="name" class="form__label">Artist Name</label>
            
            <input type="number" placeholder="Number of Albums" class="form__input" id="albums" name="albums" value="<%= artist.albums %>" required />
            <label for="albums" class="form__label">Number of Albums</label>
            
            <input type="text" placeholder="Best Song" class="form__input" id="best_song" name="best_song" value="<%= song.most_popular_song %>" required />
            <label for="best_song" class="form__label">Best Song</label>
            
            <input type="number" placeholder="Release Year" class="form__input" id="release_year" name="release_year" value="<%= song.release_year %>" required />
            <label for="release_year" class="form__label">Release Year</label>
            
            <button class="button-23" type="submit">Submit</button>
        </form>
        <!-- hyperlink back to index page -->
        <a class="exit" href="/api/admin"><ion-icon class="ion" name="exit-outline"></ion-icon></a>
    </div>    
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>